@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --strong-blue: #031ca6;
    --light-purple: #3F5FBF;
    --purple: #3752A6;
    --gray-purple: #8fa1d9;
    --gray-orange: #f75d25;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--strong-blue);
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    margin: 10px;
    margin-top: 40px;
    font-size: 28px;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

nav {
    padding: 0px;
}

.letters {
    display: flex;
    position: fixed;
    justify-content: center;
    margin: auto;
    margin-top: -180px;
    background-color: rgb(3, 28, 166, 0.8);
    height: 120px;
    width: 100%;
    padding-top: 20px;
}

.letters ul {
    display: inline;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0px 20px 0px 20px;
}

.letters li {
    display: inline;
    justify-content: center;
    margin-right: 10px;

}

.letters a {
    text-decoration: none;
    color: var(--gray-orange);
    transition: 0.5s;

}

.letters a:hover {
    color: #ffffff;
}

.card-letter {
    display: flex;
    flex-direction: column;
    margin: 40px 10px 40px 10px;
    border-radius: 25px;
    transition: 0.7s;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--purple);
    min-height: 310px;
    color: white;
}

.card-letter:hover {
    background-color: var(--gray-orange);
    box-shadow: 6px 4px 5px 1px rgba(0, 0, 0, 0.25);

}

.title-letter {
    padding: 5px;
    margin-left: 10px;
    height: 250px;
    justify-content: center;
}

.title-letter p:first-child {
    font-size: 150px;
    margin-top: -20px;
    margin-bottom: 35px;
    letter-spacing: -7px;
}

#letterA {
    margin-top: 180px;
}

p.pronunc {
    margin-top: -50px;
    font-size: 40px;
}

img {
    width: 200px;
    height: 150px;
    display: flex;
    margin: -10px;
}

.ilustration {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: auto;
    width: 40%;


}

.ilustration p {
    font-size: 50px;
}

.ilust1 {
    display: flex;
    flex-direction: column;
}

.ilust1 {
    flex-direction: row;
    align-items: center;
}

.ilust1 p {
    margin-top: 10px;
}

.ilust1 .transc-fonet {
    margin-top: -15px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.examples {
    height: 250px;
    width: 100%;
}

.examples p {
    font-size: 31px;
    font-style: italic;
    position: static;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.ex1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    flex-direction: column;
    padding-right: 0px;
}

.audio {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    margin-bottom: 1%;
}

.footer {
    background-color: var(--azul_sea);
    text-align: center;
    margin-bottom: 10px;
}

.footer p {
    padding: 3px;
    font-size: 15px;
    color: var(--azul_clean);
    font-weight: 400;
    margin: 1px;
    margin-top: 1px;
}

.footer img {
    margin: 15px;
    margin-bottom: -2px;
    width: 30px;

}

.links img {
    display: inline;
    margin-bottom: -60px;
}

@media screen and (max-width: 430px) {

    body {
        margin-right: 0;
        padding-right: 0;
        clear: both;
    }

    .letters {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 6rem;
        position: fixed;
        z-index: 999;
        display: flex;
        padding-right: 0;
    }

    .letters ul {
        margin-top: -1.5rem;
        flex-direction: column;
        align-items: center;
        font-size: 1.9rem;
    }

    .letters li {
        margin-right: 0;
        margin-bottom: 1vh;
    }

    .card-letter {
        margin: auto;
        padding-right: 0;
        width: 90%;
        height: 40rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 2rem;
        padding: 1rem;
        padding-bottom: 1rem;
    }

    .title-letter p:first-child {
        font-size: 4rem;
        margin-top: 1rem;
    }

    .title-letter .pronunc {
        font-size: 1.75rem;
    }

    .title-letter {
        align-self: center;
        padding: 0;

    }

    .ilustration {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .ilustration img {
        max-width: 100%;
        height: auto;
    }

    .ilust1 {
        margin-top: -0.3rem;
    }

    .ilust-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ilust-text p.transc-fonet {
        font-size: 2vh;
        margin-top: 1vh;
        position: relative;
        z-index: 1;
    }

    .ilust-text p {
        font-size: 2.3rem;
        position: relative;
        z-index: 2;
    }

    .examples p {
        font-size: 1.5rem;
        margin-bottom: -0.2rem;
    }

    .examples p:first-child {
        margin-top: 2rem;
    }

    #letterZ img {
        width: 7.5rem;
    }

    img {
        max-width: 7rem;
        max-height: 7rem;
        margin: auto;
    }

    .ex1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:auto;
        flex-direction: column;
        padding-right: 0;
    }

    .ex1 p{
        margin: auto;
    }
    .footer img {
        margin-bottom: -2.5rem;

        width: 1.5rem;

    }
    
    
    #letterK img:nth-child(1){
        width: 9rem;
        margin: auto;
    }

}
/*TELAS MEDIANAS. COM LARGURA DE 331px A 305px. MODELOS COMO GRAMDE PARTE DOS IPHONES E GALAXYS*/
@media screen and (min-width: 331px) and (max-width: 395px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .letters {
        width: 100%;
        height: 6rem;
        padding: 0.9rem;
        
    }

    .letters ul {
        font-size: 1.7rem;
        padding: auto;
        margin: auto;
    }

    .card-letter {
        height: 33.5rem;
        margin: auto;
        padding: 0.5rem;
        margin-top: 2rem;
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

    .title-letter {
        margin: auto;
        margin-bottom: 0.3rem;
    }

    .title-letter .pronunc {
        margin-top: 2px;
        font-size: 1.75rem;
    }

    .title-letter p:first-child {
        font-size: 4.5rem;
        margin-bottom: -15px;
    }

    .examples p {
        margin: auto;
        font-size: 1.39rem;
        padding: 0.4rem;
    }

    .ex1{
        margin: auto;
        margin-top: -1.8rem;
    }
    .ex1 p{
        margin: auto;
        margin-top: -40px;
        font-size: 1.5rem;
        margin-top: -10rem;
    }
    .audio {
        max-width: 1.75rem;
        max-height: 1.75rem;
        margin-bottom: -0.9375rem;
    }

    img {
        margin: auto;
        max-width: 4rem;
        max-height: 4rem;
    }

    .ilust-text p {
        font-size: 2rem;
        margin: auto;
    }

    .ilust-text p:last-child {
        font-size: 1.4rem;
        padding: auto;
        margin: auto;
        margin-bottom: 0.5rem;
    }

    .footer img {
        margin-bottom: -1.125rem;
        width: 1.5rem;
    }
    .footer p{
        font-size: 0.8rem;
        margin: auto;
    }
    #letterK img:nth-child(1){
        width: 7rem;
        margin: auto;
    }
    #letterH img:first-child {
        width: 7rem;
    }

}
/*TELAS PEQUENAS COM ATÉ 320PX DE LARGURA (IPHONE 4/5/SE*/
@media screen and (max-width:320px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .letters {
        width: 20rem;
        height: 4rem;
        padding: auto;
        padding-top: 1.5rem;
        text-align: center;
    }

    .letters ul {
        font-size: 1.4rem;
        padding: 0.5rem;
        padding-bottom: 1rem;
    }
    .card-letter{
        height: 27rem;
        padding: 0rem;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .title-letter {
        margin: auto;
        margin-bottom: -6rem;
        margin-top: -1.5rem;
    }

    .title-letter .pronunc {
        margin: auto;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }

    .title-letter p:first-child {
        font-size: 4.5rem;
        margin-bottom: -15px;
    }

    .examples p {
        font-size: 0.9rem;
        padding: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: auto;
        margin-bottom: -0.2rem;
        margin-top: -0.1rem;
    }

    .audio {
        max-width: 1.75rem;
        max-height: 1.75rem;
        margin: auto;
        margin-top: 0.3rem;
        margin-bottom: -1.5rem;
    }
    .audio img:first-child{
        margin-bottom: 10rem;
    }

    img {
        max-width: 3.5rem;
        max-height: 3.5rem;
        margin: auto;
        margin-right: -1.8rem;
        margin-top: 1.2rem;
        padding: 0rem;
    }
    .ilust1{
        margin: auto;
        margin-bottom: -2rem;
        padding: 0;

    }
    .ilustration img{
        width: 10rem;
    }

    .ilust-text p {
        font-size: 1.8125rem;
        margin-top: 1.5rem;
    }

    .ilust-text p:last-child {
        font-size: 1.25rem;
        margin: auto;
        margin-bottom: 1rem;
        margin-top: -1rem;
        font-size: 1rem;

    }
    #letterH img{
        margin: auto;
    }
    #letterK img:nth-child(1){
        width: 5rem;
        margin: auto;
    }
    #letterH img:first-child {
        width: 5rem;
    }
    #letterV img:nth-child(1){
                margin: auto;
                margin-top: 1.5rem;
                margin-right: -2rem;
    }
    #letterY img:first-child{
        width: 9rem;
        margin-right: 0.5rem;
    }
    #letterZ img:first-child{
        margin: auto;
    }

    .footer p{
        font-size: 0.6rem;
        margin: auto;
    }
    .footer img{
        width: 1.2rem;
        margin-bottom: -1rem;
        margin-bottom: -22px;
    }
}
